  main div form {
    margin: 5px;
  }
  
  .mapa {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 300px;

  }

  .contacto {
    background-color: green;
    border: solid black 3px;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  /* Estilos para pantallas grandes (más de 1200px) */
  @media (min-width: 1201px) {
    main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .col-xl-6 {
      width: 50%;
    }
  }
  

  /* Estilos para pantallas pequeñas (menos de 1200px) */
  @media (max-width: 1200px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .col-xl-6 {
      width: 50%;
    }
  }
