
  /* Estilos para pantallas grandes (más de 1200px) */
  @media (min-width: 1201px) {
    main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .col-xl-6 {
      width: 50%;
    }
  }
  
  /* Estilos para pantallas medianas (entre 992px y 1200px) */

  /* Estilos para pantallas pequeñas (menos de 992px) */
  @media (max-width: 1200px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .col-xl-6 {
      width: 100%;
    }
  }
  