.aboutus {
    margin-top: 50px;
    background-color: green;
    border: solid black 3px;
    border-radius: 3px;
}

.desc {
  background-color: green;
}
.login {
  background-color: green;
}

@media (max-width: 768px){
  .login {
      margin-bottom: 5px;
   }

}
.row{
  margin-right: 0;
  margin-left: 0;
}
.row>*{
  padding: 0;
}
@media (min-width: 500px){

}