.aboutus {
    margin-top: 50px;
    background-color: $color;
    border: solid black 3px;
    border-radius: 3px;
}

.desc {
  background-color: $color;
  margin-top: 10px;
}
.login {
  background-color: $color;
}

@media (max-width: 768px){
  .login {
      margin-bottom: 5px;
   }


}

