.carta {
    background-color: #00ff33;
    margin: 2px;
    border: solid black 3px;
    border-radius: 5px;
}

.imagen {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

@media (max-width:575px) {
    .imagen {
        display: none;
    }
}