@import '_mixin';
@import '_header';
@import '_index';
@import '_contacto';
@import '_turnos';
@import '_sobre-nosotros';
@import '_footer';
@import '_variables';

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    background-image: url(../assets/images/soccer-center.png) !important;
  }
  
  .my-object {
    transition: transform 0.2s ease-in-out;
  }
  
  .my-object:hover {
    transform: scale(1.1);
  }
  
  .navegador {
    width:100%;
    justify-content: space-between;
  }
  .row{
    margin-right: 0;
    margin-left: 0;
  }
  .row>*{
    padding: 0;
  }
